@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

/*
 font-family: "Ancizar Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    gap: 5px;
    width: 98%;
}
#title .container{
    height: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;

}

h2{
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
p{
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
thead th{
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 8px;
    background-color: rgb(70, 70, 70);
    color: white;
    
}
table{
    border: solid 2px;
    background-color: rgb(77, 77, 77);
}

td{
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding: 2px;
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    border: solid 2px;
}

th{
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border: solid 2px white;
    padding: 2px;
    background-color: rgb(96, 96, 96);
    color: rgb(255, 173, 173);
}
#under-title .container{
    height: auto;
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
background-color: antiquewhite;

}