*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(107, 107, 107);   
}
#titulo{
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    padding: 1rem 0;
    font-style: italic;
    margin: 1rem auto;
    width: 360px;
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
    background-image: url(../img/dos-calabera-gif.gif);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    justify-content: center;
    width: 360px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(146, 146, 146);
    background-image: url(../img/tres-calaberas-img.jpg);
    background-size: cover;
    background-position: center;

}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;

}
nav ul a{
    color: white;
    border-radius: 15px;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.5);
}
.article{
    border: solid;
    border-radius: 15px;
    width: 340px;
    margin: 10px;
    background-color: rgb(54, 54, 54);
    
}
.article ol {
    padding: 0 2rem;
    color: rgb(255, 255, 255);
}
.article ul {
    padding: 0 2rem;
    color: rgb(255, 255, 255);
}
.img{
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
}
.article h2{
    padding: 1rem;
    margin: 10px;
    background-color: rgb(128, 128, 128);
    text-align: center;
    text-transform: uppercase;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
    color: white;
    border: solid rgb(255, 255, 255);
    border-radius: 15px;
}
.article p{
    padding: 1rem;
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.article table{
    border: solid white;
    margin: 1rem auto;
}
.article th{
    border: solid white;
    text-transform: uppercase;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 5px;
    color: rgb(255, 125, 125);

}
.article td{
    border: solid white;
    text-align: center;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 5px;
    color: white;
}
main{
    width: 360px;
    display: flex;
    justify-content: center;
    background-color: rgb(78, 78, 78);
    margin: 0 auto;
    border: solid;
    border-radius: 15px;
}
.resaltado{
    color: red;
    font-weight: 700;
    text-transform: lowercase;
}