*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(167, 167, 167);
}
#titulo{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: italic;
    margin: 1rem auto;
    width: 360px;
}
nav{
    display: flex;
    justify-content: center;
    width: 360px;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(146, 146, 146);

}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;

}
nav ul a{
    color: black;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.article{
    border: solid;
    width: 340px;
    margin: 10px;
    background-color: aliceblue;
}
.article ol{
    padding: 0 1.5rem;
}
.img{
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
}
.article h2{
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
}
.article p{
    padding: 1rem;
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.article table{
    border: solid;
    margin: 1rem auto;
}
.article th{
    border: solid;
    text-transform: uppercase;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 5px;

}
.article td{
    border: solid;
    text-align: center;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 5px;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.resaltado{
    color: red;
    font-weight: 700;
    text-transform: lowercase;
    
}